<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552572655098-g2fn3r9hr4o1ovkkq2atbdlvp6hsvgkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552572655098-g2fn3r9hr4o1ovkkq2atbdlvp6hsvgkm</string>
	<key>API_KEY</key>
	<string>AIzaSyCMmyksVRzJ6yUOLAwJsTe77rBkZL7po30</string>
	<key>GCM_SENDER_ID</key>
	<string>552572655098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ApixDev.HilSports</string>
	<key>PROJECT_ID</key>
	<string>hilsports</string>
	<key>STORAGE_BUCKET</key>
	<string>hilsports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552572655098:ios:49db62178c09b164084043</string>
</dict>
</plist>